@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root{
    --prmy-clr: #0B2447;
}
.App{
    min-height: 100vh;
    display: flex;
    background-color: var(--prmy-clr);
}