@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400;1,500&display=swap');


:root{
    --prmy-clr: #0B2447;
}
*{
    font-family: 'Work sans';
}
.App{
    min-height: 100vh;
    display: flex;
    background-color: var(--prmy-clr);
}

